/* styles in src/style directory are applied to the whole page */

html,
body {
    height: 100%;
}

body {
    color: #FFFFFF;
    margin: 0;
    font-size: 0.875rem;
    font-family: Antarctica-Regular;
    font-weight: 400;
    line-height: 1.43;
    background-color: #070C14;
}

.main-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 100%;
}

.title {
    margin: 10px 0;
}

.main-header {
    -webkit-box-flex: 0;
        -ms-flex-positive: 0;
            flex-grow: 0;
    text-align: center;
    border-bottom: #464646 solid 1px;
}

.main-content {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    overflow: scroll;
}

.main-footer {
    text-align: center;
    -webkit-box-flex: 0;
        -ms-flex-positive: 0;
            flex-grow: 0;
}

.play-status {
    color: #bbbbbb;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 4px 12px 0 12px;
}

.status-text {
    font-size: 0.75em;
}

.play-controls {
    border-top: #464646 solid 1px;
    padding: 8px 0px 8px 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.hero-button {
    background-repeat: no-repeat;
    background-position: center;
    background-size: 50px;
    width: 50px;
    height: 50px;
    cursor: pointer;
}

.play-button {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='white' width='18px' height='18px'%3E%3Cpath d='M0 0h24v24H0z' fill='none'/%3E%3Cpath d='M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm-2 14.5v-9l6 4.5-6 4.5z'/%3E%3C/svg%3E");
}

.pause-button {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='white' width='18px' height='18px'%3E%3Cpath d='M0 0h24v24H0z' fill='none'/%3E%3Cpath d='M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm-1 14H9V8h2v8zm4 0h-2V8h2v8z'/%3E%3C/svg%3E");
}

.station-item {
    padding: 12px;
    cursor: pointer;
    border-bottom: #464646 solid 1px;
}

.station-item:hover {
    background-color: #111e33;
}

.placeholder-button {
    padding: 0 12px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 30px;
    width: 30px;
    height: 30px;
}

.refresh-button {
    cursor: pointer;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='white' width='18px' height='18px'%3E%3Cpath d='M0 0h24v24H0z' fill='none'/%3E%3Cpath d='M17.65 6.35C16.2 4.9 14.21 4 12 4c-4.42 0-7.99 3.58-7.99 8s3.57 8 7.99 8c3.73 0 6.84-2.55 7.73-6h-2.08c-.82 2.33-3.04 4-5.65 4-3.31 0-6-2.69-6-6s2.69-6 6-6c1.66 0 3.14.69 4.22 1.78L13 11h7V4l-2.35 2.35z'/%3E%3C/svg%3E");
}

.tv-button {
    color: #a5a5a5;
    text-decoration: none;
    font-family: monospace;
    font-size: 1.2em;
    position: relative;
    top: 5px;
}
/*# sourceMappingURL=app.css.map*/